header {
	padding-top: 60px;
	padding-bottom: 50px;
	margin-top: 40px;
	display: inline;
	font-family: "Courier New", monospace;
}

img {
	border: 5px solid black;
	border-radius: 50%;
	padding-left: 60px;
	float: left;
}

h1 {
	font-size: 50px;
	margin-top: 20px; 
	float: left;
}

p {
	line-height: 1.6;
	font-size: 15px;
	margin-top: 35px;
	padding-left: 10px;
}

h1, p {
	font-family: "Courier New", monospace;
}

div {
	width: 70%;
	margin: 0 auto;
}
