header {
	background: url('https://static.wixstatic.com/media/799a65_44e23158ac844ca2bb1b8e220d737e21~mv2_d_4032_2209_s_2.jpg/v1/fill/w_1774,h_972,al_c,q_90,usm_0.66_1.00_0.01/503988A3-A788-4B6A-A9B7-83A024C4C8F8.jpg');
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.img {
  border-radius: 50%;
  display: flex;
  flex: 0 0 150px;
  height: 150px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 150px;
	border-color: white;
}

.img__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.img__overlay:hover {
  opacity: 1;
}

.img__overlay {
  background-color: white;
  background: linear-gradient(65deg, rgba(46,204,113,0.4), rgba(243,156,18,0.4));
  color: #fafafa;
  font-size: 20px;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	text-align: center;
}

h3 {
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}

h5 {
	margin-top: 40px;
	text-align: center;
	font-size: 15px;
}

h1, h3, h5 {
	font-family: "Courier New", monospace;
}

p {
	line-height: 1.6;
	font-size: 20px;
	margin-top: 50px;
}

ul {
	text-align: center; 
	background: white; 
	padding: 10px;
}

li {
	display: inline;
	margin: 30px;
	font-family: "Courier New", monospace;
	margin-bottom: 20px;
}

/* unvisited link */
a:link {
	color: blue;
}

/* visited link */
a:visited {
	color: purple;
}

/* mouse over link */
a:hover {
	color: pink;
}

/* selected link */
a:active {
	color: green;
}

div {
	width: 70%;
	margin: 0 auto;
}
