header {
	padding-top: 60px;
	padding-bottom: 50px;
	margin-top: 40px;
	display: inline;
	font-family: "Courier New", monospace;
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 50px;
	margin-top: 20px; 
	text-align: center;
	font-family: "Courier New", monospace;
}

li, ul { 
font-family: "Courier New", monospace;
}

p {
	line-height: 1.6;
	font-size: 15px;
	margin-top: 35px;
	padding-left; 15px;
	margin-left: 15px;
	    font-family: "Didact Gothic", sans-serif;
}

/* unvisited link */
a:link {
	color: pink;
}

/* visited link */
a:visited {
	color: pink;
}

/* mouse over link */
a:hover {
	color: purple;
}

/* selected link */
a:active {
	color: purple;
}
