header {
	padding-top: 60px;
	padding-bottom: 50px;
	margin-top: 40px;
	display: inline;
	font-family: "Courier New", monospace;
}

img {
	border: 5px solid black;
	border-radius: 50%;
	padding-left: 60px;
}

h1 {
	font-size: 50px;
	margin-top: 20px; 
	padding-left: 100px;
	margin-left: 15px;
	background: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/70708534_2359496924299114_2891618265681887232_o.jpg?_nc_cat=105&_nc_oc=AQkTiAdHzeeEbFQ79cccfi6vu1WvaYlbpJTHH8mDAH_UjOND_dn6V7x9F1_CWeQ8wKk&_nc_ht=scontent-lga3-1.xx&oh=7b2f3bfa967328f0970cec2742466019&oe=5E3202F9');
}

p {
	line-height: 1.6;
	font-size: 15px;
	margin-top: 35px;
}

h1, p {
	font-family: "Courier New", monospace;
}

div {
	width: 70%;
	margin: 0 auto;
}
