header {
	background: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/70708534_2359496924299114_2891618265681887232_o.jpg?_nc_cat=105&_nc_oc=AQkTiAdHzeeEbFQ79cccfi6vu1WvaYlbpJTHH8mDAH_UjOND_dn6V7x9F1_CWeQ8wKk&_nc_ht=scontent-lga3-1.xx&oh=7b2f3bfa967328f0970cec2742466019&oe=5E3202F9');
	padding-top: 50px;
	padding-bottom: 50px;
}

img {
	border: 5px solid white;
	display: inline;
	text-align: center;
	border-radius: 50%;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	text-align: center; 
}

h3 {
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}

h1, h3 {
	font-family: "Courier New", monospace;
}

p {
	line-height: 1.6;
	font-size: 20px;
	margin-top: 50px;
	font-family: "Courier New", monospace;
}

div {
	width: 70%;
	margin: 0 auto;
}
