header {
	padding-bottom: 40px;
	font-family: "Courier New", monospace;
}

img {
	border: 5px solid white;
	display: inline;
	text-align: center;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	text-align: center; 
}

h1 {
	font-family: "Courier New", monospace;
}

p {
	line-height: 1.6;
	font-size: 20px;
	margin-top: 50px;
}

ul {
	text-align: center; 
	background: white; 
	padding: 10px;
}

li {
	display: inline;
	margin: 30px;
	font-family: "Courier New", monospace;
	margin-bottom: 20px;
}

div.gallery {
 padding-top: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 80px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* unvisited link */
a:link {
	color: blue;
}

/* visited link */
a:visited {
	color: purple;
}

/* mouse over link */
a:hover {
	color: pink;
}

/* selected link */
a:active {
	color: green;
}

div {
	width: 70%;
	margin: 0 auto;
}
