header {
	background: url('https://static.wixstatic.com/media/799a65_44e23158ac844ca2bb1b8e220d737e21~mv2_d_4032_2209_s_2.jpg/v1/fill/w_1774,h_972,al_c,q_90,usm_0.66_1.00_0.01/503988A3-A788-4B6A-A9B7-83A024C4C8F8.jpg');
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

img {
	border: 5px solid white;
	display: inline;
	border-radius: 50%;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	text-align: center; 
}

h3 {
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}

h1, h3, h5 {
	font-family: "Courier New", monospace;
}

p {
	line-height: 1.6;
	font-size: 20px;
	margin-top: 50px;
}

ul {
	text-align: center; 
	background-color: white;
	padding: 10px;
}

li {
	display: inline;
	margin: 30px;
}

div {
	width: 70%;
	margin: 0 auto;
}
