header {
	background: url('4C8537F8-3A3B-4043-8C8A-4ED2203F78E0.JPG');
	padding-top: 35px;
	padding-bottom: 40px;
	font-family: "Courier New", monospace;
}

img {
	border: 5px solid white;
	display: inline;
	text-align: center;
	border-radius: 50%;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	text-align: center; 
}

h1 {
	font-family: "Courier New", monospace;
}

p {
	line-height: 1.6;
	font-size: 20px;
	margin-top: 50px;
}

ul {
	text-align: center; 
	background: white; 
	padding: 10px;
}

li {
	display: inline;
	margin: 30px;
	font-family: "Courier New", monospace;
	margin-bottom: 20px;
}

div {
	width: 70%;
	margin: 0 auto;
}
